<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El estilo de Vivir</title>
    <link rel="icon" href="../img/icono.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/alfa_romeo.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.pkgd.min.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
               <a href="/index.html"><img src="../img/logo2.png" alt="Logo_Web"></a>
            </div>
            <a href="/index.html"><h1>El estilo de Vivir</h1></a>
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li class="menu-marcas">
                        <a href="#">Marcas</a>
                        <ul class="submenu-marcas">
                            <li>
                                <a href="../templates/alfa_romeo.html"><img src="../img/logo_alfa_romeo.png" width="15" height="15" alt="Logo Alfa Romeo">Alfa Romeo</a>
                            </li>
                            <li>
                                <a href="../templates/audi.html"><img src="../img/logo_audi.png" width="15" height="15" alt="Logo Audi">Audi</a>
                            </li>
                            <li>
                                <a href="../templates/porsche.html"><img src="../img/logo_porsche.png" width="15" height="15" alt="Logo Porsche">Porsche</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="../templates/contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

<main>
    <main>
      
            <section>
                <div class="giulia">
            <h2> ALFA ROMEO  GIULIA</h2>
         
                <section class="carousell">
                    <div>
                        <div class="carousel">
                          <ul class="slides">
                            <input type="radio" name="radio-buttons" id="img-1" checked />
                            <li class="slide-container">
                              <div class="slide-image">
                                <img src="../img/alfa_romeo/giulia1.webp">
                              </div>
                              <div class="carousel-controls">
                                <label for="img-3" class="prev-slide">
                                  <span>&lsaquo;</span>
                                </label>
                                <label for="img-2" class="next-slide">
                                  <span>&rsaquo;</span>
                                </label>
                              </div>
                            </li>
                            <input type="radio" name="radio-buttons" id="img-2" />
                            <li class="slide-container">
                              <div class="slide-image">
                                <img src="../img/alfa_romeo/giulia2.jpg">
                              </div>
                              <div class="carousel-controls">
                                <label for="img-1" class="prev-slide">
                                  <span>&lsaquo;</span>
                                </label>
                                <label for="img-3" class="next-slide">
                                  <span>&rsaquo;</span>
                                </label>
                              </div>
                            </li>
                            <input type="radio" name="radio-buttons" id="img-3" />
                            <li class="slide-container">
                              <div class="slide-image">
                                <img src="../img/alfa_romeo/giulia3.webp">
                              </div>
                              <div class="carousel-controls">
                                <label for="img-2" class="prev-slide">
                                  <span>&lsaquo;</span>
                                </label>
                                <label for="img-1" class="next-slide">
                                  <span>&rsaquo;</span>
                                </label>
                              </div>
                            </li>
                            <div class="carousel-dots">
                              <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                              <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
                              <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
                            </div>
                          </ul>
                        </div>
                      </div>
            

                <p>El Alfa Romeo Giulia se lanzó al mercado en el año 2016 como una nueva berlina de segmento D creada para reemplazar al Alfa Romeo 159 al mismo tiempo que representa una auténtica revolución para el fabricante de Milán. Con el paso de los años, el Giulia se sometió a diferentes actualizaciones, siendo la última introducida a finales de 2022 con cambios menores en diseño y mejoras en equipamiento y tecnología. El Alfa Romeo Giulia se basa en cinco pilares fundamentales: el fantástico diseño italiano, marcado por las pautas de proporcionalidad, el respeto al reparto de pesos de 50/50, sencillez, elegancia y deportividad. El nuevo Giulia supone una verdadera revolución para la marca, ya que utiliza de nuevo la tracción trasera, motores de hasta 510 CV y un nivel de acabados premium.</p>
            </div>
            <div class="video_alfa1">
                
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wFnjVzYpltA?si=bkFnBGV2bYgvBnwX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            
              </div>
              <div class="descargarpdf1">
               
                <a class="btn_descarga" href="../PDFdescargable/FT-AR-Giulia.pdf" download="Ficha técnica"> ▼ </a> <h6 class="btn">Ficha técnica</h6>
                  </div>
        </section>

<hr>

        <section>
          <div class="stelvio">
      <h2> ALFA ROMEO  STELVIO</h2>
  
          <section class="carousell">
              <div>
                  <div class="carousel">
                    <ul class="slides2">
                      <input type="radio" name="radio-buttons2" id="img-4" checked />
                      <li class="slide-container2">
                        <div class="slide-image2">
                          <img src="../img/alfa_romeo/alfa_stelvio3.jpg">
                        </div>
                        <div class="carousel-controls2">
                          <label for="img-6" class="prev-slide2">
                            <span>&lsaquo;</span>
                          </label>
                          <label for="img-5" class="next-slide2">
                            <span>&rsaquo;</span>
                          </label>
                        </div>
                      </li>
                      <input type="radio" name="radio-buttons2" id="img-5" />
                      <li class="slide-container2">
                        <div class="slide-image2">
                          <img src="../img/alfa_romeo/alfa_stelvio2.jpg">
                        </div>
                        <div class="carousel-controls2">
                          <label for="img-4" class="prev-slide2">
                            <span>&lsaquo;</span>
                          </label>
                          <label for="img-6" class="next-slide2">
                            <span>&rsaquo;</span>
                          </label>
                        </div>
                      </li>
                      <input type="radio" name="radio-buttons2" id="img-6" />
                      <li class="slide-container2">
                        <div class="slide-image2">
                          <img src="../img/alfa_romeo/alfa_stelvio.jpg">
                        </div>
                        <div class="carousel-controls2">
                          <label for="img-5" class="prev-slide2">
                            <span>&lsaquo;</span>
                          </label>
                          <label for="img-4" class="next-slide2">
                            <span>&rsaquo;</span>
                          </label>
                        </div>
                      </li>
                      <div class="carousel-dots2">
                        <label for="img-4" class="carousel-dot2" id="img-dot-1"></label>
                        <label for="img-5" class="carousel-dot2" id="img-dot-2"></label>
                        <label for="img-6" class="carousel-dot2" id="img-dot-3"></label>
                      </div>
                    </ul>
                  </div>
                </div>
      

          <p>El Alfa Romeo Stelvio es el primer vehículo SUV del fabricante italiano Alfa Romeo. Emoción al volante, grandes prestaciones, carácter y diseño deportivo son las premisas de cualquier "Alfa". El objetivo de este vehículo pasa por reescribir las reglas en el segmento crossover de tamaño medio. El propio nombre indica que pretende ofrecer una experiencia de conducción única. Stelvio es el puerto de montaña más alto de Italia. La carretera que lo atraviesa, con veinte kilómetros y más de 75 curvas que lo coronan, lo convierten en un lugar mítico para cualquier amante del automóvil.</p>
      </div>
      <div class="video_alfa1">
          
          <iframe width="560" height="315" src="https://www.youtube.com/embed/97CdlIQ10BQ?si=FIonomLvCz9Cvqjl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      
        </div>
        <div class="descargarpdf1">
         
          <a class="btn_descarga" href="../PDFdescargable/FT-AR-Stelvio.pdf" download="Ficha técnica"> ▼ </a> <h6 class="btn">Ficha técnica</h6>
            </div>
  </section>

<section>

   
                <div>
                <p> </p>
            </div>
            <div>
                
            </div>
          
        
            </div>
</section>
        
</main>
<footer>
    <div class="footer-contacto">
        <h3 class="texto-pie">Curso Full Stack Python</h3>
        <!-- ICONOS DE REDES SOCIALES -->
        <a href="#" class="social-icon"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a>
        <a href="#" class="social-icon"><img src="../img/logo_instagram.png" alt="instagram"></a>
        <!-- FIN DE ICONOS DE REDES SOCIALES -->
    </div>
    
    <div class="footer-info">
        <!-- Información de contacto -->
        <p>Dirección: Calle Principal, Ciudad</p>
        <p>Teléfono: +123456789</p>
        <p>Correo Electrónico: elestilodevivir@gmail.com</p>
      
    </div>
</footer>
<script src="https://kit.fontawesome.com/b75777cf68.js" crossorigin="anonymous"></script>
</body>
</html>
