<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El estilo de Vivir</title>
    <link rel="icon" href="../img/icono.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/alfa_romeo.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.pkgd.min.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
               <a href="/index.html"><img src="../img/logo2.png" alt="Logo_Web"></a>
            </div>
            <a href="/index.html"><h1>El estilo de Vivir</h1></a>
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li class="menu-marcas">
                        <a href="#">Marcas</a>
                        <ul class="submenu-marcas">
                            <li>
                                <a href="../templates/alfa_romeo.html"><img src="../img/logo_alfa_romeo.png" width="15" height="15" alt="Logo Alfa Romeo">Alfa Romeo</a>
                            </li>
                            <li>
                                <a href="../templates/audi.html"><img src="../img/logo_audi.png" width="15" height="15" alt="Logo Audi">Audi</a>
                            </li>
                            <li>
                                <a href="../templates/porsche.html"><img src="../img/logo_porsche.png" width="15" height="15" alt="Logo Porsche">Porsche</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="../templates/contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

<main>
    <main>
      
            <section>
                <div class="giulia">
            <h2> AUDI   A3</h2>
         
                <section class="carousell">
                    <div>
                        <div class="carousel">
                          <ul class="slides">
                            <input type="radio" name="radio-buttons" id="img-1" checked />
                            <li class="slide-container">
                              <div class="slide-image">
                                <img src="../img/audi/Nuevo-Audi-A3-interior.jpg">
                              </div>
                              <div class="carousel-controls">
                                <label for="img-3" class="prev-slide">
                                  <span>&lsaquo;</span>
                                </label>
                                <label for="img-2" class="next-slide">
                                  <span>&rsaquo;</span>
                                </label>
                              </div>
                            </li>
                            <input type="radio" name="radio-buttons" id="img-2" />
                            <li class="slide-container">
                              <div class="slide-image">
                                <img src="../img/audi/audia3.jpg">
                              </div>
                              <div class="carousel-controls">
                                <label for="img-1" class="prev-slide">
                                  <span>&lsaquo;</span>
                                </label>
                                <label for="img-3" class="next-slide">
                                  <span>&rsaquo;</span>
                                </label>
                              </div>
                            </li>
                            <input type="radio" name="radio-buttons" id="img-3" />
                            <li class="slide-container">
                              <div class="slide-image">
                                <img src="../img/audi/audi-a3-2023-1590896.jpg">
                              </div>
                              <div class="carousel-controls">
                                <label for="img-2" class="prev-slide">
                                  <span>&lsaquo;</span>
                                </label>
                                <label for="img-1" class="next-slide">
                                  <span>&rsaquo;</span>
                                </label>
                              </div>
                            </li>
                            <div class="carousel-dots">
                              <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                              <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
                              <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
                            </div>
                          </ul>
                        </div>
                      </div>
            

                <p>El nuevo Audi A3 llega con un diseño exterior renovado fuertemente inspirado por sus hermanos mayores, el Audi A4 y el Audi A5. Aunque se podría considerar un estilo algo continuista o evolutivo, lo cierto es que integra multitud de elementos completamente nuevos. Comenzando por el frontal, la parrilla Single Frame de Audi cobra protagonismo con unas nuevas dimensiones, acompañada de unos nuevos faros Matrix LED con una nueva firma lumínica para las luces de circulación diurna. el Audi A3 2020 se muestra con líneas esculpidas y limpias que recorren todo el largo de la carrocería. Los espejos retrovisores se montan sobre la cintura del coche, mientras que diferentes diseños de llantas del Audi A3, en medidas que van desde las 16 hasta las 19 pulgadas, rellenan los pasos de rueda de forma uniforme.</p>
            </div>
            <div class="video_alfa1">
                
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wYwoGaMgytM?si=Ry_DHwGEZCz_HJ_l" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            
              </div>
              <div class="descargarpdf1">
               
                <a class="btn_descarga" href="../PDFdescargable/A3-audi_ficha-tecnica_MY-2023.pdf" download="Ficha técnica"> ▼ </a> <h6 class="btn">Ficha técnica</h6>
                  </div>
        </section>

<hr>

        <section>
          <div class="stelvio">
      <h2> AUDI   A5</h2>
  
          <section class="carousell">
              <div>
                  <div class="carousel">
                    <ul class="slides2">
                      <input type="radio" name="radio-buttons2" id="img-4" checked />
                      <li class="slide-container2">
                        <div class="slide-image2">
                          <img src="../img/audi/garage-motor1-audi-a5-sportback-1.webp">
                        </div>
                        <div class="carousel-controls2">
                          <label for="img-6" class="prev-slide2">
                            <span>&lsaquo;</span>
                          </label>
                          <label for="img-5" class="next-slide2">
                            <span>&rsaquo;</span>
                          </label>
                        </div>
                      </li>
                      <input type="radio" name="radio-buttons2" id="img-5" />
                      <li class="slide-container2">
                        <div class="slide-image2">
                          <img src="../img/audi/ezgif.com-webp-to-jpg.jpg">
                        </div>
                        <div class="carousel-controls2">
                          <label for="img-4" class="prev-slide2">
                            <span>&lsaquo;</span>
                          </label>
                          <label for="img-6" class="next-slide2">
                            <span>&rsaquo;</span>
                          </label>
                        </div>
                      </li>
                      <input type="radio" name="radio-buttons2" id="img-6" />
                      <li class="slide-container2">
                        <div class="slide-image2">
                          <img src="../img/audi/2024-audi-a5-101-64bacb64baa2d.jpg">
                        </div>
                        <div class="carousel-controls2">
                          <label for="img-5" class="prev-slide2">
                            <span>&lsaquo;</span>
                          </label>
                          <label for="img-4" class="next-slide2">
                            <span>&rsaquo;</span>
                          </label>
                        </div>
                      </li>
                      <div class="carousel-dots2">
                        <label for="img-4" class="carousel-dot2" id="img-dot-1"></label>
                        <label for="img-5" class="carousel-dot2" id="img-dot-2"></label>
                        <label for="img-6" class="carousel-dot2" id="img-dot-3"></label>
                      </div>
                    </ul>
                  </div>
                </div>
      

          <p>El Audi A5 es un modelo que nació en 2007, experimentó un restyling hace unos pocos años y ahora, en junio de 2016, se lanza su nueva generación. La segunda generación del Audi A5 destaca por su nuevo frontal, que es la parte que recibe cambios más notables. Lo hace gracias a una parrilla delantera, con nueva geometría y una posición más baja. Los cambios estéticos continúan en la parte trasera del nuevo Audi A5 donde los pilotos, ahora más delgados, se han tornado ligeramente hacia abajo. para mostrar un aspecto más "enfadado" según su diseñador. El lateral del Audi A5 también se ha trabajado para obtener unas proporciones más musculosas.</p>
      </div>
      <div class="video_alfa1">
          
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JYWz2ZAgbpo?si=37jWujHFMr77fNbc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="descargarpdf1">
         
          <a class="btn_descarga" href="../PDFdescargable/A5-audi_ficha-tecnica.pdf" download="Ficha técnica"> ▼ </a> <h6 class="btn">Ficha técnica</h6>
            </div>
  </section>

<section>

   
                <div>
                <p> </p>
            </div>
            <div>
                
            </div>
          
        
            </div>
</section>
        
</main>
<footer>
    <div class="footer-contacto">
        <h3 class="texto-pie">Curso Full Stack Python</h3>
        <!-- ICONOS DE REDES SOCIALES -->
        <a href="#" class="social-icon"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a>
        <a href="#" class="social-icon"><img src="../img/logo_instagram.png" alt="instagram"></a>
        <!-- FIN DE ICONOS DE REDES SOCIALES -->
    </div>
    
    <div class="footer-info">
        <!-- Información de contacto -->
        <p>Dirección: Calle Principal, Ciudad</p>
        <p>Teléfono: +123456789</p>
        <p>Correo Electrónico: elestilodevivir@gmail.com</p>
      
    </div>
</footer>
<script src="https://kit.fontawesome.com/b75777cf68.js" crossorigin="anonymous"></script>
</body>
</html>
