<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El estilo de Vivir</title>
    <link rel="icon" href="/img/icono.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/contacto.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="../index.html"><img src="../img/logo2.png" alt="Logo_Web"></a>
            </div>
            <a href="../index.html"><h1>El Estilo de Vivir</h1></a>
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li class="menu-marcas">
                        <a href="#">Marcas</a>
                        <ul class="submenu-marcas">
                            <li>
                                <a href="../templates/alfa_romeo.html"><img src="../img/logo_alfa_romeo.png" width="15" height="15" alt="Logo Alfa Romeo">Alfa Romeo</a>
                            </li>
                            <li>
                                <a href="../templates/audi.html"><img src="../img/logo_audi.png" width="15" height="15" alt="Logo Audi">Audi</a>
                            </li>
                            <li>
                                <a href="../templates/porsche.html"><img src="../img/logo_porsche.png" width="15" height="15" alt="Logo Porsche">Porsche</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="../templates/contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

<main>
    <form action="https://formspree.io/f/xoqoyvpq" method="post">
 <section class="container">
    <div class="datoscontacto">
        <fieldset>
            <legend><b>Sus datos de contacto</b></legend>
        <div class="textodato">

                        <div>
                            <label for="nombre">Nombre:</label>
                            <input class="inputcontacto" type="text" name="nombre" id="nombre" required>
                        </div>

                        <div>
                            <label for="apellido">Apellido:</label>
                            <input class="inputcontacto" type="text" name="apellido" id="apellido" required>
                        </div>

                        <div>
                            <label for="telefono">Teléfono:</label>
                            <input class="inputcontacto" type="number" name="telefono" id="telefono" required none>
                        </div>

                        <div>
                            <label for="email">Correo:</label>
                            <input class="inputcontacto" type="email" name="email" id="email" required>
                        </div>
    
        </div>
        <div>
                        </fieldset>
        <fieldset class="moti">
                            <legend><b>Motivo de contacto</b></legend>
      

                            <input class="motiv" type="radio" name="area" id="cons" value="consulta" required>
                            <label for="consulta">Consulta</label>
                        <hr>
                            <input class="motiv" type="radio" name="area" id="queja" value="queja"required>
                            <label for="queja">Queja</label>
                        <hr>
                            <input class="motiv" type="radio" name="area" id="otros" value="otros"required>
                            <label for="otros">Otro</label>
                        </fieldset>
        </div>

    <div class="mensaje">
        
            <label for="comentario"></label>
            <textarea class="mens" name="comentario" id="comentario" cols="30" rows="10" placeholder="Escriba aqui su mensaje"></textarea>
        
            <div>
                <input type="submit" value="Enviar">
                <input type="reset" value="Borrar">
            </div>
       
    </div>
 </section>
</form>
</main>


    <footer>
        <div class="footer-contacto">
            <h3 class="texto-pie">Curso Full Stack Python</h3>
            <!-- ICONOS DE REDES SOCIALES -->
            <a href="#" class="social-icon"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" class="social-icon"><img src="../img/logo_instagram.png" alt="instagram"></a>
            <!-- FIN DE ICONOS DE REDES SOCIALES -->
        </div>
        
        <div class="footer-info">
            <!-- Información de contacto -->
            <p>Dirección: Calle Principal, Ciudad</p>
            <p>Teléfono: +123456789</p>
            <p>Correo Electrónico: elestilodevivir@gmail.com</p>
          
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/b75777cf68.js" crossorigin="anonymous"></script>
</body>
</html>
